<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.css" />
    <title>Email Subscribe</title>
  </head>
  <body>
    <!-- Background Container -->
    <div class="flex items-center justify-center h-screen bg-teal-700">
      <!-- Card -->
      <div class="bg-zinc-800 p-2 mx-6 rounded-2xl">
        <!-- Flex Container -->
        <div class="flex flex-col md:flex-row rounded-l-xl">
          <img
            src="images/image.jpg"
            alt=""
            class="object-fit rounded-xl h-80 md:h-64 md:rounded-l-xl md:rounded-r-none tranform hover:scale-105 hover:rounded-xl duration-300" />
          <div class="p-6 md:p-12">
            <h2
              class="font-serif text-xl font-medium text-center text-white md:text-left">
              Get nutrition and exercise tips in your inbox
            </h2>
            <p
              class="max-w-xs my-4 text-xs leading-5 tracking-wide text-center text-white md:text-left">
              Live better with healthy routines. Sign up to learn how. Our news
              letters are delivered once a week.
            </p>
            <div
              class="flex flex-col mt-5 space-y-4 md:space-x-3 md:flex-row md:space-y-0">
              <input
                class="p-2 px-4 text-center text-white bg-zinc-800 border border-zinc-600 placeholder:text-xs placeholder:text-center md:text-left placeholder:md:text-left focus:outline-slate-200"
                type="text"
                placeholder="Enter your email address" />
              <button
                class="px-5 py-3 text-xs rounded-md text-zinc-800 bg-teal-400 hover:bg-white hover:text-teal-900 duration-700">
                Sign up
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
