<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.css" />
    <title>Tailwind Lab</title>
  </head>
  <body>
    <h1>Here</h1>
    <button class="btn-teal">Here</button>
    <div class="content-field">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro cum
        provident numquam voluptatum optio aspernatur alias consequatur enim
        explicabo veritatis corporis itaque nam quia dolores at sunt culpa
        molestias distinctio vel, adipisci repudiandae. Qui officiis ipsa
        tempore perferendis dolorum quos excepturi similique rem perspiciatis
        explicabo aut voluptatibus, tenetur facilis voluptatum?
      </p>
    </div>
  </body>
</html>
